// Place all the styles related to the publics/CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#public_cartitem_index_wrap{
    width: 100%;
}

#public_cartitem_index_h2_wrap{
    width: 70%;
    margin: 30px auto 20px;
    display: flex;
    justify-content: space-between;
}

#public_cartitem_index_h2_wrap h2{
    display: inline;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 20px;
    background-color: lightgray;
}

#public_cartitem_index_h2_wrap p{
    display: inline-block;
    text-align: right;
}

#public_cartitem_index_table_wrap{
    width: 80%;
    margin: 0 auto 20px;
}

#public_cartitem_index_table_wrap td{
    background-color: white;
}


#public_cartitem_index_table_wrap table{
    width: 100%;
}

#public_cartitem_index_inside_lowwer_table td{
    background-color: white;
}

#public_cartitem_index_table_wrap table th{
    background-color: lightgray;
}

#public_cartitem_index_inside_lowwer_wrap{
    width: 80%;
    margin: 30px auto 20px;
    display: flex;
    justify-content: space-between;
}

#public_cartitem_index_inside_lowwer_continue{
    margin-left: 70px;
}

#public_cartitem_index_inside_lowwer_table{
    width: 20%;
}

#public_cartitem_index_inside_lowwer_table th{
    background-color: lightgray;
}

#public_cartitem_index_infoinput{
    width: 80%;
    margin: 0 auto;
}

#public_cartitem_index_infoinput p{
    text-align: center;
}