// Place all the styles related to the publics/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.customer_show_edit{
    display: inline;
}

#customer_show_table{
    width: 100%;
}

#customer_show_table table{
    width: 80%;
    display: block;
    margin: 0 auto;
}

#mypage_title{
    background-color: gray;
    display: inline;
    border-radius: 5px;
}

#unsubscribed_div{
    width: 100%;
}

#unsubscribed_div p{
    display: block;
    margin: 0 auto 60px;
    width: 80%;
    text-align: center;
}

#unsubscribed_div p:nth-child(1){
    margin-top: 60px;
    font-size: 30px;
}
 #unsubscribed_p{
     text-align: center;
 }