// Place all the styles related to the publics/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#public_customer_show_wrap{
    width: 100%;
}

#public_customer_show_h2_wrap{
    width: 70%;
    margin: 30px auto 20px;
}

#public_customer_show_h2_wrap h2{
    display: inline;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 20px;
    background-color: lightgray;
}

#public_customer_show_main_wrap{
    width: 80%;
    margin: 0 auto;
}

#public_customer_show_main_wrap h4:first-child{
    font-size: 20px;
    font-weight: bold; 
    display: inline;
    margin-right: 20px;
}

#public_customer_show_main_wrap h4{
    font-size: 20px;
    font-weight: bold; 
    display: inline;
    margin: 10px 0;
}

#public_customer_show_main_edit{
    display: inline;
}

#public_customer_show_main_firsttable{
    width: 80%;
    margin: 15px 0 30px 0;
}

#public_customer_show_main_firsttable th{
    width: 20%;
    padding: 10px 0;
}

#public_customer_show_main_firsttable td{
    width: 70%;
    padding: 10px 0;
    background-color: white;
}

#public_customer_show_main_delivery{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}

#unsubscribed_div{
    width: 100%;
}

#unsubscribed_div p{
    display: block;
    margin: 0 auto 60px;
    width: 80%;
    text-align: center;
}

#unsubscribed_div p:nth-child(1){
    margin-top: 60px;
    font-size: 30px;
}
 
#customer_unsubscribe_lowwer_div{
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#public_customer_login_wrap{
    width: 100%;
}

#public_customer_login_h2_wrap{
    width: 70%;
    margin: 30px auto 20px;
}

#public_customer_login_h2_wrap h2{
    display: inline;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 20px;
    background-color: lightgray;
}

#public_customer_login_main_wrap{
    width: 65%;
    margin: 0 auto;
}

#public_customer_login_main_wrap_inside{
    width: 100%;
}

#public_customer_login_main_wrap h2{
    display: inline;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 15px;
    background-color: lightgray;
}

#public_customer_login_main_wrap table{
    width: 80%;
    margin-bottom: 40px;
    margin-top: 20px;
    display: block;
    margin: 30px auto 0;
}

#public_customer_login_main_wrap table th,td{
    padding: 5px 20px;
}

#public_customer_login_main_submit{
    display: inline;
}

#public_customer_login_main_remember{
    display: inline;
    margin-left: 40px;
}

#public_customer_login_sub_wrap{
    margin-top: 40px;
} 

#public_customer_login_sub_wrap p{
    margin-left: 100px;
    margin-top: 30px;
}

#public_customer_edit_wrap{
    width: 100%;
}

#public_customer_edit_h2_wrap{
    width: 70%;
    margin: 30px auto 20px;
}

#public_customer_edit_h2_wrap h2{
    display: inline;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 20px;
    background-color: lightgray;
}

#public_customer_edit_table_wrap{
    width: 80%;
    margin: 30px auto 20px;
}

.public_customer_edit_table_td{
    margin-right: 60px;
}

.public_customer_edit_submit{
    width: 220px;
}

.public_customer_edit_delete{
    width: 100px;
}