// Place all the styles related to the publics/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#public_item_index_wrap{
    width: 100%;
}

#public_item_index_inside_wrap{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

#public_item_index_genre{
    width: 20%;
    padding: 20px;
}

#public_item_index_genre h4{
    border: 1px solid black;
}

#public_item_index_main{
    width: 80%;
}

#public_item_index_main div:nth-child(1){
    margin-bottom: 20px;
}

#public_item_index_main div:nth-child(1) h2{
    display: inline;
}

#public_item_index_main div:nth-child(1) p{
    display: inline;
}

#public_item_index_table{
    width: 100%;
}

#public_item_index_table_tbody{
    width: 100%;
}

#public_item_index_table tr{
    width: 22%;
    float: left;
    margin-bottom: 50px;
}

#public_item_index_table tr:nth-child(5){
    clear: both;
}

#public_item_index_table_p{
    margin: 10px 0;
}

#public_item_show_wrap{
    width: 100%;
}

#public_item_show_inside_wrap{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

#public_item_show_search_wrap{
    width: 20%;
    padding: 20px;
}

#public_item_show_search_wrap p{
    text-align: center;
    border: 1px solid black;
}

#public_item_show_search_wrap div{
    border: 1px solid black;
    padding: 10px;
}

#public_item_show_main_wrap{
    width: 80%;
    padding: 20px;
    display: flex;
}

#public_item_show_main_attachment_wrap{
    width: 40%;
}

#public_item_show_main_desc_wrap{
    width: 60%;
}

#public_item_show_main_desc_wrap h3{
    margin-bottom: 20px;
}

#public_item_show_main_desc_intro{
    margin-bottom: 60px;
}

#public_item_show_main_desc_price{
    margin-bottom: 30px;
}


.public_item_show_main_desc_number{
    width: 120px;
}

.public_item_show_main_desc_submit{
    margin-left: 80px;
}