// Place all the styles related to the publics/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#public_order_new_wrap{
  width: 100%;
}

#public_order_new_h2_wrap{
  width: 70%;
  margin: 30px auto 20px;
}

#public_order_new_h2_wrap h2{
  display: inline;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
  background-color: lightgray;
}

#public_order_new_table_wrap{
  width: 80%;
  margin: 0 auto;
}

#public_order_new_table_payment_wrap{
  margin-bottom: 30px;
}

#public_order_new_table_payment_wrap div{
  margin-left: 50px;
}

#public_order_new_table_delivery_inside_wrap{
  margin-left: 50px;
}

#public_order_new_table_delivery_inside_wrap div div{
  margin-left: 50px;
}

#public_order_new_table_submit{
  text-align: center;
}

.public_order_new_table_submit_width{
  width: 200px;
}

#public_order_index_wrap{
  width: 100%;
}

#public_order_index_h2_wrap{
  width: 70%;
  margin: 30px auto 20px;
}

#public_order_index_h2_wrap h2{
  display: inline;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
  background-color: lightgray;
}

#public_order_index_table_wrap{
  width: 80%;
  margin: 0 auto;
}

#public_order_index_table_wrap table{
  width: 100%;
}

#public_order_index_table_wrap th{
  background-color: lightgray;
}

#public_order_index_table_wrap td{
  background-color: white;
}

.public_order_index_table_link{
  height: 40px;
}

#public_order_show_warp{
  width: 100%;
}

#public_order_show_h2_warp{
  width: 70%;
  margin: 30px auto 20px;
}

#public_order_show_h2_warp h2{
  display: inline;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
  background-color: lightgray;
}

#public_order_show_upper_table{
  display: flex;
  width: 80%;
  margin: 30px auto 20px;
}

#public_order_show_upper_table td{
  background-color: white;
}

#public_order_show_upper_left_table{
  width: 60%;
  margin-right: 20px;
}

#public_order_show_first_table{
  width: 100%;
}

#public_order_show_first_table th{
  background-color: lightgray;
}

#public_order_show_upper_right_table{
  width: 30%;
}

#public_order_show_second_table{
  width: 100%;
}

#public_order_show_second_table th{
  background-color: lightgray;
}

#public_order_show_lowwer_table{
  width: 80%;
  margin: 60px auto 0;
}

#public_order_show_lowwer_table td{
  background-color: white;
}

#public_order_show_third_table{
  width: 80%;
}

#public_order_show_third_table th{
  background-color: lightgray;
}

#public_order_confirm_wrap{
  width: 100%;
}

#public_order_confirm_h2_wrap{
  width: 70%;
  margin: 30px auto 20px;
}

#public_order_confirm_h2_wrap h2{
  display: inline;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
  background-color: lightgray;
}

#public_order_confirm_main_wrap{
  width: 80%;
  margin: 0 auto;
}

#public_order_confirm_uppder_table_wrap{
  display: flex;
  width: 100%;
}

#public_order_confirm_uppder_lefttable{
  width: 60%;
  margin-right: 20px;
}

#public_order_confirm_uppder_lefttable th{
  background-color: lightgray;
}

#public_order_confirm_uppder_lefttable td{
  background-color: white;
}

#public_order_confirm_uppder_righttable{
  width: 30%;
}

#public_order_confirm_uppder_righttable th{
  background-color: lightgray;
}

#public_order_confirm_uppder_righttable td{
  background-color: white;
}

#public_order_confirm_lowwer_table_wrap{
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#public_order_confirm_lowwer_table{
  width: 80%;
}

#public_order_confirm_submit{
  text-align: center;
}

#public_order_thanks{
  text-align: center;
  margin-top: 300px;
  font-size: 40px;
}