// Place all the styles related to the admin/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#admin_customer_index_wrap{
  width: 100%;
}

#admin_customer_index_h2_wrap{
  width: 60%;
  margin: 50px auto 10px;
}

#admin_customer_index_wrap h2{
  font-size: 20px;
  background-color: lightgray;
  border-radius: 5px;
  padding: 0 20px;
  display: inline;
}

#admin_customer_index_wrap table{
  width:  70%;
  margin: 0 auto;
}

#admin_customer_index_wrap tr{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

#admin_customer_index_wrap tbody td{
  padding: 15px;
}

#admin_customer_index_issubscribed{
  color: green;
}

#admin_customer_show_wrap{
  width: 100%;
}

#admin_customer_show_h2_wrap{
  width: 70%;
  margin: 30px auto 10px;
}

#admin_customer_show_h2_wrap h2{
  font-size: 20px;
  background-color: lightgray;
  border-radius: 5px;
  padding: 0 20px;
  display: inline;
}

#admin_customer_show_table_wrap{
  width: 80%;
  margin: 0 auto;
}

.admin_customer_show_table_edit_button{
  margin-right: 40px;
}

#admin_customer_show_issubscribed{
  color: green;
}

#admin_customer_edit_wrap{
  width: 70%;
}

#admin_customer_edit_h2_wrap{
  width: 70%;
  margin: 30px auto 10px;
}

#admin_customer_edit_h2_wrap h2{
  font-size: 20px;
  background-color: lightgray;
  border-radius: 5px;
  padding: 0 20px;
  display: inline;
}

#admin_customer_edit_table_wrap{
  width: 80%;
  margin: 0 auto;
}

.admin_customer_edit_td{
  margin-right: 50px;
}

.admin_customer_edit_status{
  display: inline-block;
}

.admin_customer_edit_status span{
  margin-right: 20px;
}



