// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin_order_index_div{
  width: 100%;
}

#admin_order_index_h2_div{
  width: 70%;
  margin: 30px auto 10px;
}

#admin_order_index_h2{
  font-size: 20px;
  background-color: lightgray;
  border-radius: 5px;
  padding: 0 20px;
  display: inline;
}

#admin_order_index_table{
  width: 70%;
  margin: 0 auto;
}

.admin_order_index_th{
  width: 25%;
}