<div id="unsubscribed_div">
 <p><b>本当に退会しますか？</b></p>
 <p>
  退会すると、会員登録情報や<br>
  これまでの購入履歴が閲覧できなくなります。<br>
  退会する場合は、「退会する」をクリックしてください。
 </p>
  <div id="customer_unsubscribe_lowwer_div">
    <div id="customer_unsubscribe_lowwer_p"><%= link_to "退会しない", show_path, class: "btn btn-primary" %></div>
    <div id="customer_unsubscribe_lowwer_p"><%= link_to "退会する", withdraw_path, class: "btn btn-danger", method: :patch, data: {confirm: "本当に退会しますか?"} %><div>
  </div>
</div>